
<div class="row">
	<div class = "large-11 columns">
		<h1>Listing products</h1>
<table>
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Description</th>

		<th>Price</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @products.each do |product| %>
	<tr>
		<td><%= image_tag(product.image_url, alt: "")%></td>
		<td><h3><%= product.title %></h3></td>
		<td><h5><%= truncate(strip_tags(product.description),:length => 80) %></h5></td>

		<td><h5><%= product.price %></h5></td>
		
		
		<td><a href="#" data-dropdown="drop1" class="button dropdown">Operation</a>
		<br>
		<ul id="drop1" class="f-dropdown">
			<li>
				<%= link_to 'Show', product %>
			</li>
			<li>
				<%= link_to 'Edit', edit_product_path(product) %>
			</li>
			<li>
				<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
			</li>
		</ul>
		</td>

	</tr>
	<% end %>
</table>
</div>
<br />
</div>

<%= link_to 'New Product', new_product_path %>
